body {
    box-sizing:border-box;
}
#header{
 background:linear-gradient(-90deg, #81cad6, #90ff99);
 border-bottom: 1px gray solid;
 padding: 20px 20px 30px;
 margin:auto;
 text-align:center;
}
 h1 {

    text-align: center;
   color : #fff;
   margin-bottom:25px;
}
#inputText {
border-radius:4px;
 border: solid gray 2px;
 padding:5px;
 }
 button {
   display:inline-block;
     background-color: gray;
   border: solid gray 2px;
   border-radius:4px;
   color:white;
   padding:5px;
 }


#list{
 text-decoration:none;
 list-style-type:none;
 margin:0;
 padding:0;
}
 li {
    text-decoration : none;
     padding: 10px;
   font-weight:bold;
 }
 
 li:nth-child(odd){
 background-color:#dedede;
}
 li:nth-child(even){
   background-color:#f1f1f1;
 }
   .check {
 text-decoration: line-through;
     background-color: black !important;
     color:white;
}


span.close {
 position: absolute;
 right: 0;
 padding-right: 10px;
}
