<link href='page1.css' rel='stylesheet' type='text/css'>

<form method="post" action="index.html">
<div class="box">
<h1>My Grocery</h1>

<input type="number" name="Phone Number" value="email" onFocus="field_focus(this, 'number');" onblur="field_blur(this, 'number');" class="email" />
  
<input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<a href="page2.html"><div class="btn">Sign In</div></a> <!-- End Btn -->


  
</div> <!-- End Box -->
  
</form>

  
<script src="page1.js" type="text/javascript"></script>