
<link href='page2.css' rel='stylesheet' type='text/css'>
<body>
    
    <div id="header">
      <h1>My List</h1>
      <input id="inputText" type="text">
      <button onclick="addToList()">add</button>
     <div id="header">
          <label></label>
          <select name="category">
              <option value="Fruits">Fruits</option>
              <option value="Vegetables">Vegetables</option>
              <option value="Others">Others</option>
          </select>
      </div>
    </div>
    <ul id="list">
    
    </ul>
    </body>
    <script src="page2.js" type="text/javascript"></script>